@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

$primary-color: #6368A6;
$secondary-color: #F8A018;
$white-color: #ffffff;

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  color: $white-color;
  font-size: 1vw;
}


.weather-container {
  position: relative;
  width: 782px;
  height: 600px;
  font-size: 1em;
  overflow: hidden;
}

.circle {
  position: absolute;
  margin-top: -100%;
  width: 400px;
  height: 400px;
  background-color: $secondary-color;
}

.search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

input {
  background-color: transparent;
  border-bottom: 1px $secondary-color solid;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.2rem;
  width: 570px;
  height: 32px;
  color: white;
  padding: 8px 8px 8px 8px;
  background-image: url(../assets/search-icon-white.svg);
    background-size: 0.8em 0.8em;
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 2px;
    margin-top: 32px;
}

input:focus {
outline: none;
box-sizing: border-box;
background-color: transparent;
border-bottom: 1px $secondary-color solid;
margin-top: 24px;
height: 40px;
color: white;
font-size: 1.2rem;
padding: 8px 8px 8px 24px;
background-image: none;
border-top: none;
border-left: none;
border-right: none;
}

h1 {
  font-size: 12.5em;
  font-weight: 600;
  margin: -10px 0 0 0;
}

h2 {
  font-size: 9.375em;
  font-weight: 600;
  margin: 0;
}

h5 {
  font-size: 3.004375em;
  font-weight: 500;
  margin: 20px 0 0 0;
}

h6{
  font-size: 1.953125em;
  font-weight: 500;
  margin: 0;
}

.weather-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid $secondary-color;
  padding-top: 20px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

img {
  width: 60px;
}

.degree {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -20px;

}

.place {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.weather-status {
  margin-top: 10px;

}

@media screen and (max-width: 425px) {

  .weather-container {
    position: relative;
    width: 420px;
    height: 600px;
    font-size: 1em;
    overflow: hidden;
  }
  
  .circle {
    position: absolute;
    margin-top: -100%;
    width: 400px;
    height: 400px;
    background-color: $secondary-color;
  }
  
  .search-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  input {
    background-color: transparent;
    border-bottom: 1px $secondary-color solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.2rem;
    width: 320px;
    height: 32px;
    color: white;
    padding: 8px 8px 8px 8px;
    background-image: url(../assets/search-icon-white.svg);
      background-size: 0.8em 0.8em;
      background-repeat: no-repeat;
      background-position-x: 24px;
      background-position-y: 2px;
      margin-top: 32px;
  }
  
  input:focus {
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: 1px $secondary-color solid;
  margin-top: 24px;
  height: 40px;
  color: white;
  width: 320px;
  font-size: 1.2rem;
  padding: 8px 8px 8px 8px;
  background-image: none;
  border-top: none;
  border-left: none;
  border-right: none;
  }
  
  h1 {
    font-size: 12.5em;
    font-weight: 600;
    margin: 0;
  }
}